<section class="discover">
    <h2 class="text-center sect-head">Did You Know</h2>
    <div class="main-knowMore">
    <div class="card" >
       
        <img src="../../../assets/img/Lighting_blog-1024x263-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Tips For Buying A Steam Iron.</p>
        </div>
    </div>
      <div class="card" >
        <img src="../../../assets/img/Lighting_blog-1024x263-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">5 Reasons Why LED Lights Are Better.</p>
        </div>
    </div>
      <div class="card" >
       
        <img src="../../../assets/img/Lighting_blog-1024x263-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Tips For Buying A Steam Iron.</p>
        </div>
      </div>
    </div>
      
</section>