<section class="discover">
    <h2 class="text-center sect-head">Discover Our Range</h2>
    <div class="main-discover">
    <div class="card">
      <a href="#" style="overflow: hidden;">
        <img src="../../../assets/img/ceiling-fan-thumbnail-homepage.jpg" class="card-img-top" alt="...">

      </a>
        <div class="card-body">
          <a href="#"><h4>Fans</h4></a>
          <p class="card-text">Crompton fans help you stay cool and comfortable at all...</p>
        </div>
      </div>
      <div class="card" >
        <a href="#" style="overflow: hidden;">
        

        <img src="../../../assets/img/homeappliances_thumbnail_compressed.jpg" class="card-img-top" alt="...">

        </a>
        <div class="card-body">
          <a href="#"><h4>Fans</h4></a>
          <p class="card-text">Crompton fans help you stay cool and comfortable at all...</p>
        </div>
      </div>
      <div class="card">
        <a href="#" style="overflow: hidden;">
          <img src="../../../assets/img/ceiling-fan-thumbnail-homepage.jpg" class="card-img-top" alt="...">
        </a>

        <div class="card-body">
          <a href="#"><h4>Fans</h4></a>
          <p class="card-text">Crompton fans help you stay cool and comfortable at all...</p>
        </div>
      </div>
      <div class="card">
        <a href="#" style="overflow: hidden;">
          <img src="../../../assets/img/homeappliances_thumbnail_compressed.jpg" class="card-img-top" alt="...">
        </a>

        <div class="card-body">
          <a href="#"><h4>Fans</h4></a>
          <p class="card-text">Crompton fans help you stay cool and comfortable at all...</p>
        </div>
      </div></div>

</section>