*{
    margin: 0px;
    padding: 0px;
}
.main-discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
   
}

.main-discover div{
    margin: 0.5%;
    cursor: pointer;
    overflow: hidden;
   

}
.main-discover .card img{
    transition: transform 9s;
   
}

.main-discover .card{
    width: 24%;
    transition: all .5s;
}
.card:hover{
    transform: scale(1.1);

}

.main-discover .card img:hover{
    transform: scale(1.3);
}
.main-discover .card:hover{
    box-shadow:0 0 16px rgba(0,0,0,.3);
    z-index: 1;
}
.card-body{
    
    padding: 22px 20px;
}
.card-body h4{
color:#2e2e2f ;
font-size: 19px;
}
.card-body p{
    font-size: 15px;
    color: #7f7f7f;
    padding-top: 8px;
}


@media screen and (max-width:1024px){
    .main-discover .card{
        width: 47%;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .main-discover .card{
        width: 100%;
        margin-top: 10px;
    }



    .discover{
        margin: 0px 10px;
    }

    
  }

