
<footer class="page-footer font-small ">
    <div class="container text-center text-md-left footer-container" >
      <div class="row ">
  
        <div class="col-md-2 mx-auto">
            <h4 class="mt-3 mb-4">Consumer</h4>
            <ul class="list-unstyled">
                <li>
                  <a href="#">Fans</a>
                </li>
                <li>
                    <a href="#">Lighting</a>
                  </li>
                  <li>
                    <a href="#">Home Appliances</a>
                  </li>
                  <li>
                    <a href="#">Consumer Pumps</a>
                  </li>
             </ul>

        </div>
        
        <hr class="clearfix w-100 d-md-none">


        <div class="col-md-2 mx-auto">
            <h4 class="mt-3 mb-4 footer-heading-text">About Crompton</h4>
            <ul class="list-unstyled">
                <li>
                  <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Investors</a>
                  </li>

                  <li>
                    <a href="#">Careers</a>
                  </li>

             </ul>

        </div>

        <hr class="clearfix w-100 d-md-none">


        <div class="col-md-4 mx-auto">
            <h4 class="mt-3 mb-4 footer-heading-text">Quick Links</h4>
            <ul class="list-unstyled">
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Did you Know</a>
                  </li>

                  
             </ul>

        </div>
  
        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-4 mx-auto second-col">
  
          <!-- Links -->
          <h3 class="mt-3 mb-4">Crompton <i class="fa fa-plus" aria-hidden="true"></i></h3>
          <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5> -->
  
          <ul class="list-unstyled">
            <li>
              <p class="small-text align-head">

                Disclaimer: The product colours and shades displayed on this website are only indicative and cannot be considered to be a precise representation of the actual colours.
</p>
            </li>
          </ul>
        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
       
  
      </div>
  
    </div>
  
   
  
  </footer>






  