
<div class="text-center">

<a href="#" class="brandbtn" tabindex="-1">Read more</a>

</div>
<footer class="page-footer font-small ">
    <div class="container text-center text-md-left footer-container" >
      <div class="row ">
  
        <div class="col-md-4 mx-auto first-col">
          <p class="mt-1 mb-4 footer-heading-text">Registered Office</p>
          <!-- <h5 class="font-weight-bold text-uppercase mt-1 mb-4">Links</h5> -->
  
          <ul class="list-unstyled">
            <li>
              <p class="small-text align-head">
                Crompton Greaves Consumer Electricals Limited, Equinox Business Park, 1st Floor, Tower 3, LBS Marg, Kurla (W), Mumbai 400070, Maharashtra, India
              </p>
            </li>
          </ul>
          <a href="#" class="anchor-wrap" target="_blank">                                <!-- <a href="javascript:void(0)" class="anchor-wrap"> -->
            <p class="small-text align-text"><i class="fas fa-map-marker-alt"></i>Find Location</p></a>
<a href="#" class="anchor-wrap">                                <!-- <a href="javascript:void(0)" class="anchor-wrap"> -->
            <p class="small-text align-text">+91 22 6167 8499</p></a>
        </div>
  
        <hr class="clearfix w-100 d-md-none">

        <div class="col-md-4 mx-auto second-col">
  
          <!-- Links -->
          <p class="mt-1 mb-4  footer-heading-text ">Customer Care <i class="fa fa-plus" aria-hidden="true"></i></p>
          <!-- <h5 class="font-weight-bold text-uppercase mt-1 mb-4">Links</h5> -->
  
          <ul class="list-unstyled">
            <li>
              <p class="small-text align-head">If you have any issue with <a href="#">Fans</a> | <a href="#">Lighting</a> | <a href="#">Pumps</a> | <a href="#">Appliances</a> Products you can contact us in any of the following ways</p>

            </li>
          </ul>
          <a href="#" class="anchor-wrap" target="_blank">                                <!-- <a href="javascript:void(0)" class="anchor-wrap"> -->
            <p class="small-text align-text"><i class="fas fa-map-marker-alt"></i>Find Location</p></a>
<a href="#" class="anchor-wrap">                                <!-- <a href="javascript:void(0)" class="anchor-wrap"> -->
            <p class="small-text align-text">+91 22 6167 8499</p></a>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto third-col">
  
          <!-- Links -->
          <p class="mt-1 mb-4 footer-heading-text">Partner Connect<i class="fa fa-plus" aria-hidden="true"></i></p>

  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Dealer Portal</a>
            </li>
            <li>
              <a href="#!">Vendor Portal</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
  
      </div>
  
    </div>
  
   
  </footer>