.carousel-image{
    padding: 3%;
}

::ng-deep .slick-prev{
    left: -34px;
}

::ng-deep .slick-next{
    right: -17px;
}



::ng-deep .slick-prev:before,::ng-deep .slick-next:before {
    font-family: "slick";
    font-size: 39px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    color: #014C86;
}